<%= image_tag(@user.photo, class: 'h-[70px] w-[70px] object-cover mt-2 rounded-full') %>
<h2 class='my-2 text-xl font-bold text-orange-500'><%= @user.username %>´s products (<%= @user.products.count %>)</h2>

<%#  Decimos de donde sacaremos ese turbo frame que es de products_path pero le pasamos un param favorites: true para
filtrar en nuestro archivo de queries/find_products.rb productos cuando hay un param favorites %>
<%= turbo_frame_tag :products, src: products_path(user_id: @user.id) %><%#  Aca le decimos que renderice loq ue hay dentro del turbo frame tag :products que se encuentra en products_path osea el index de products, pasamos parametro de user_id: @user.id %>
