<div class='fixed bottom-0 w-full border-t-[1px] border-gray-200' style='height: 3.5rem; background: transparent; blurr: 10px; backdrop-filter: blur(20px);'>
  <div class='flex justify-center h-full items-center'>
    <div>
      <p class='text-center text-sm'>App made with <i class="fa-solid fa-heart text-red-600"></i></p>
      <div class='flex justify-center'>
        <a href="https://github.com/lcamilov7/" target='_blank' class='me-2'><i class="fa-brands fa-github text-teal-500 text-lg"></i></a>
        <a href="https://www.linkedin.com/in/lcamilov7082199/" target='_blank' class='ms-2'><i class="fa-brands fa-linkedin text-teal-500 text-lg"></i></a>
      </div>
    </div>
  </div>
</div>
