<div class='absolute bottom-0 w-full bg-neutral-900' style='height: 7rem;'>
  <div class='flex flex-col justify-center h-full items-center'>
    <img src="assets/logo2" style='width: 50px; height: 50px; opacity: 0.5;' alt="logo">
    <div>
      <p class='text-center text-sm text-gray-200 text-opacity-50'>App made with <i class="fa-solid fa-heart text-red-500 text-opacity-50"></i></p>
      <div class='flex justify-center'>
        <a href="https://github.com/lcamilov7/" target='_blank' class='me-2'><i class="fa-brands fa-github text-orange-500 text-opacity-50 text-lg hover:text-orange-700"></i></a>
        <a href="https://www.linkedin.com/in/lcamilov7082199/" target='_blank' class='ms-2'><i class="fa-brands fa-linkedin text-orange-500 text-opacity-50 text-lg hover:text-orange-700"></i></a>
      </div>
    </div>
  </div>
</div>
