<% if controller_name == 'products' && action_name == 'index' %>
  <div class='hidden sm:block slider'>
    <div class='slide-track relative'>

      <div class='slide'>
        <img src="assets/books" alt="" class='carrousel-img'>
      </div>
      <div class="slide">
        <img src="assets/cars" alt="" class='carrousel-img'>
      </div>
      <div class="slide">
        <img src="assets/clothes" alt="" class='carrousel-img'>
      </div>
      <div class="slide">
        <img src="assets/videogames" alt="" class='carrousel-img'>
      </div>
      <div class="slide">
        <img src="assets/phones" alt="" class='carrousel-img'>
      </div>
      <div class="slide">
        <img src="assets/sports" alt="" class='carrousel-img'>
      </div>
      <div class="slide">
        <img src="assets/electronics" alt="" class='carrousel-img'>
      </div>
      <div class="slide">
        <img src="assets/shoespg" alt="" class='carrousel-img'>
      </div>
      <div class="slide">
        <img src="assets/electrics" alt="" class='carrousel-img'>
      </div>

      <div class='slide'>
        <img src="assets/books" alt="" class='carrousel-img'>
      </div>
      <div class="slide">
        <img src="assets/cars" alt="" class='carrousel-img'>
      </div>
      <div class="slide">
        <img src="assets/clothes" alt="" class='carrousel-img'>
      </div>
      <div class="slide">
        <img src="assets/videogames" alt="" class='carrousel-img'>
      </div>
      <div class="slide">
        <img src="assets/phones" alt="" class='carrousel-img'>
      </div>
      <div class="slide">
        <img src="assets/sports" alt="" class='carrousel-img'>
      </div>
      <div class="slide">
        <img src="assets/electronics" alt="" class='carrousel-img'>
      </div>
      <div class="slide">
        <img src="assets/shoespg" alt="" class='carrousel-img'>
      </div>
      <div class="slide">
        <img src="assets/electrics" alt="" class='carrousel-img'>
      </div>

      <div class="absolute inset-0 flex flex-col items-center justify-center pointer-events-none">
        <img src="assets/logo2" alt="" style='height: 80px; width: 80px;'>
        <p class="text-orange-500 text-lg font-bold italic">Buy & Sell second-handed products</p>
      </div>
    </div>
  </div>
<% end %>
