<% if controller_name == 'products' && action_name == 'index' %>
  <div class='hidden sm:block'>
    <section class='carrousel relative'>
      <img src="assets/books" alt="" class='carrousel-img'>
      <img src="assets/cars" alt="" class='carrousel-img'>
      <img src="assets/clothes" alt="" class='carrousel-img'>
      <img src="assets/shoespg" alt="" class='carrousel-img'>
      <img src="assets/videogames" alt="" class='carrousel-img'>
      <img src="assets/phones" alt="" class='carrousel-img'>
      <div class="absolute inset-0 flex flex-col items-center justify-center pointer-events-none">
        <!-- Contenido del div -->
        <img src="assets/logo2" alt="" style='height: 80px; width: 80px;'>
        <p class="text-orange-500 text-lg font-bold">Buy & Sell second-handed products</p>
      </div>
    </section>
  </div>
<% end %>
