body::-webkit-scrollbar {
  width: 5px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: transparent;      /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #F97316;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */ /* creates padding around scroll thumb */
}
