<div id='favorite'><%# este id='favorite' es el que pasamos en el turbo_Stream en el favorite controller %>
  <% if product.favorite? %>
    <%= link_to 'ðŸ’”', favorite_path(product_id: product.id), data: { turbo_method: :delete } unless product.owner? %>
  <% else %>
    <%= link_to 'â¤ï¸', favorites_path(product_id: product.id), data: { turbo_method: :post } unless product.owner? %>
  <% end %>
</div>
