<div id='favorite'><%# este id='favorite' es el que pasamos en el turbo_Stream en el favorite controller %><%# Este es eldiv y id que buscará el turbo stream en favorites controller TIENE QUE ESTAR DENTRO DEL PARTIAL%>
  <% if product.find_favorite %>
    <% unless product.owner? %>
      <%= link_to favorite_path(product_id: product.id), data: { turbo_method: :delete } do %><%# el param pasado a la ruta favorite_path no se llamara params[:id] sino params[:product_id] porque asi lo definimos en la ruta, el metodo destroy necesita que le pasemos un id en los param pero est vez ese id se llama product_id porque lo renombramos en routes %>
        <i class="fa-solid fa-heart text-red-500"></i>
      <% end %>
    <% end %>
  <% else %>
    <% unless product.owner? %>
      <%= link_to favorites_path(product_id: product.id), data: { turbo_method: :post } do %><%# AQUI DEBEMOS PASAR EL PARAM COMO product_id:%>
        <i class="fa-regular fa-heart text-gray-200"></i>
      <% end %>
    <% end %>
  <% end %>
</div>
