<%# data turbo frame para escapar cada enlace del turbo frame %>
<%= link_to product_path(product), class: 'product', 'data-turbo-frame': '_top' do %>
  <h2><%=product.title%></h2>
  <span><%= product.price %></span>
  <%= image_tag(product.photo, width: 200) if product.photo.attached? %>
<% end %>
