<%= turbo_frame_tag 'categories' do %>
  <h1>Products</h1>
  <%= link_to 'All', products_path %>
  <%= render partial: 'category', collection: @categories %>
  <%= render partial: 'product', collection: @products %>
<% end %>
